name: build-image
on: push
jobs:
  build--image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate date tag
        id: date
        run: echo "date_tag=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push vpn-monitor-image
        uses: docker/build-push-action@v5
        with:
          context: . 
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            runshine0819/secoclient:latest
            ghcr.io/runshine/secoclient:latest
            runshine0819/secoclient:${{ steps.date.outputs.date_tag }}
            ghcr.io/runshine/secoclient:${{ steps.date.outputs.date_tag }}
          file: Dockerfile


